.admin-pane {
  display: grid;
  grid-template-columns: 200px auto;
  padding: $spacing-lg;
  gap: $spacing-lg;
}

.card-grid {
  display: grid;
  grid-template-rows: $spacing-lg auto;
}

.search-and-sort {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $spacing-lg;
  padding: $spacing-lg 0;
}
