.admin-pane {
  display: grid;
  grid-template-columns: 200px auto;
  padding: $spacing-lg;
  padding-bottom: 0;
  gap: $spacing-lg;
  height: calc(100vh - 55px);
}

.card-grid {
  display: grid;
  grid-template-rows: $spacing-lg auto;
  height: 100%;
}

.card-pane {
  position: relative;
  overflow: auto;
}

.category-pane {
  overflow: auto;
}

.search-and-sort {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.card-list {
  display: grid;
  margin: 0px 10px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $spacing-lg;
  padding: $spacing-lg 0;
  position: absolute;
}
