.viewport-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  width: 100vw;
  height: $nav-height;
}

.spinner {
  margin: auto;
  width: 100px;
  height: 100px;
}

.feedback-container {
  background-color: #e6e6e6;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0px;
  padding: 10px 30px 10px 10px;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.badge {
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}
