.Collapsible__trigger {
  background: $light-gray;
  padding: 10px;
  border-radius: $radius-sm;

  &.is-open {
    &:after {
      content: '▼';
      padding: 15px;
    }
  }

  &.is-closed {
    &:after {
      content: '▶';
      padding: 15px;
    }
  }
}
