.organization-card {
  border-radius: $radius-sm;
  box-shadow: 0 4px 8px 0 $shadow-black;
  transition: 0.3s;
  width: 100%;
  &:hover {
    box-shadow: 0 8px 16px 0 $shadow-black;
  }
}

.organization-card-header {
  padding: 15px;
  background-color: $light-gray;
  text-align: center;
  overflow: hidden;
  border-radius: $radius-sm $radius-sm;
  display: flex;
  justify-content: space-between;
}

.organization-card-header-text {
  font-size: $font-size-lg;
  font-weight: bold;
  letter-spacing: 2px;
  width: calc(100% - 25px);
}

.organization-card-body {
  display: flex;
  flex-direction: column;
  padding: $spacing-md;
  a {
    color: $light-black;
    &:hover {
      color: $blue;
    }
  }
}

.organization-card-subtitle {
  font-size: $font-size-md;
  font-weight: bold;
  line-height: $font-size-lg;
  text-transform: uppercase;
  color: $black;
}

.organization-card-social-media {
  margin: $spacing-md;
  color: $gray;

  &:hover {
    color: blue;
  }
}
