.slidingPane {
  position: absolute;
  top: 0;
  right: 70%;
  bottom: 0;
  left: 0;
  padding: 10px;
  transition: bottom 0.3s ease-in-out;
}

.slidingPaneToggle {
  display: none;
  position: absolute;
  height: 40px;
  width: 100px;
  border: 0;
  top: -40px;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px 4px 0 0;
  margin-left: -50px;
  font-size: 1.4rem;
}

@media (max-width: 768px) {

  .slidingPane {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: -64%;
    right: 0;
    top: auto;
    height: calc(70%);
    z-index: 10;
  }
  .slidingPane.open {
    height: calc(100% - 40px);
    top:60px;
    bottom: 0;
    z-index: 10;
  }
  .slidingPaneToggle {
    display: block;
    text-align: center;
  }
}

.togglePane {
  display: block;
  position: absolute;
  height: 100%;
  width: 33%;
  border: 0;
  top: 60px;
  right:0;
  background-color: white;
  border-radius: 4px 4px 0 0;
  margin-left: -50px;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .togglePane {
    width: 50%;
  }
}
