.saved-resources {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height:calc(100vh - 300px);
}

.saved-resources-full-width {
  width: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .saved-resources {
    width: 100%;
  }
}
