.results {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.resultsPartialWidth {
  width: 60%;
}
.resultsFullWidth {
  width: 100%;
}

@media (max-width: 767px) {
  .results {
    width: 100%;
  }
}
