.viewport {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
  }
  .header {
    top: 0;
    width:100%;
    height:auto;
    padding: 1px;
  }
  .togglePane{
    top:50px;
  }