.Card {
  border-radius: 10px;
  margin: 8px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.CardBody_headline {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.CardBody_CardSubtitle {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-transform: uppercase;
  color: #2e3d49;
}

h3{
  display: inline;
}

a.CardBody_icon {
  color: purple;
  text-decoration: none;
}

.save-item{
  cursor: pointer;
  float: right;
  
  text-align: center;
  font-size: 25px;
  height: 25px;
  width: 25px;
  line-height: 20px;
  border-radius: 50%;

  background-color: white;
  color: black;
  border:solid 1px black;
}

.animate-button-click{
    animation: buttonclick 500ms 1 linear;
}

@keyframes buttonclick{
  0% { background-color: rgba(16,106,217, .5); }
  25% { background-color: rgba(16,106,217, .2); }
  50% { background-color: rgba(16,106,217, .1); }
  75% { background-color: rgba(16,106,217, .05); }
  /*100% { background-color: rgba(16,106,217, 0); }*/
}


.cbutton {
  float: right;
  position: relative;
/*  display: inline-block;*/
  /*margin: 1em;*/
  padding: 0;
  border: none;
  background: none;
  color: #286aab;
  font-size: 1.4em;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton__after{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px -25px 0 -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}
/*
.cbutton__text{
  position: absolute;
  opacity: 1;
  pointer-events: none;
}
*/
/* Radomir */
.cbutton--effect-radomir__after {
  box-shadow: inset 0 0 0 35px rgba(16,106,217,0);
}

.cbutton--effect-radomir__cbutton--click__after{
  -webkit-animation: anim-effect-radomir 0.5s ease-out forwards;
  animation: anim-effect-radomir 0.5s ease-out forwards;
}

@-webkit-keyframes anim-effect-radomir {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.4, 0.4, 1);
    transform: scale3d(0.4, 0.4, 1);
  }
  80% {
    box-shadow: inset 0 0 0 2px rgba(16,106,217,0.8);
    opacity: 0.1;
  }
  100% {
    box-shadow: inset 0 0 0 2px rgba(16,106,217,0.8);
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

@keyframes anim-effect-radomir {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.4, 0.4, 1);
    transform: scale3d(0.4, 0.4, 1);
  }
  80% {
    box-shadow: inset 0 0 0 2px rgba(16,106,217,0.8);
    opacity: 0.1;
  }
  100% {
    box-shadow: inset 0 0 0 2px rgba(16,106,217,0.8);
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}