.Card {
  border-radius: 10px;
  margin: 8px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.CardBody_headline {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.CardBody_CardSubtitle {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-transform: uppercase;
  color: #2e3d49;
}

h3{
  display: inline;
}

a.CardBody_icon {
  color: purple;
  text-decoration: none;
}

.save-item{
  cursor: pointer;
  float: right;
  
  text-align: center;
  font-size: 25px;
  height: 25px;
  width: 25px;
  line-height: 20px;
  border-radius: 50%;

  background-color: white;
  color: black;
  border:solid 1px black;
}