.results {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.resultsPartialWidth {
  width: 60%;
}
.resultsFullWidth {
  width: 100%;
  position: relative;
  height: calc(100vh - 200px);
}

@media (max-width: 767px) {
  .results {
    width: 100%;
  }
}
