// screen sizes
$screen-size-sm: 576px;
$screen-size-md: 768px;
$screen-size-lg: 1024px;
$screen-size-xlg: 1440px;
$screen-size-xxlg: 2560px;

// colors
$primary: blue;
$success: green;
$danger: red;
$black: black;
$white: white;
$gray: gray;
$light-black: rgb(33, 33, 33);
$blue: rgb(0, 86, 179);
$light-gray: rgb(230, 230, 230);
$dark-gray: rgb(108, 117, 125);
$turquoise: rgb(0, 126, 163);
$shadow-black: rgba(0, 0, 0, 0.2);
$transparent-white: rgba(255, 255, 255, 0.9);

// font sizes
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xlg: 32px;
$font-size-xxlg: 64px;

// radius sizes
$radius-sm: 4px;
$radius-md: 10px;
$radius-lg: 20px;

// spacing sizes:
$spacing-sm: 5px;
$spacing-md: 15px;
$spacing-lg: 30px;
$spacing-xlg: 60px;
$spacing-xxlg: 120px;
