body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.main-nav-bar {
  width: 100%;
  border-bottom: 1px solid $black;
}

.page {
  padding-top: $nav-height;
}
